@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

.loginForm {
  box-sizing: border-box;
}

.loginForm__form{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

#loginForm__loginLabel {
  align-content: center;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  flex-direction: row;
  text-align:center;
  user-select: none;
}

#loginForm__submitButtonInput {
  flex-direction: row;
  text-align:center;
  top: 15px;
  transform: translateY(15px);
  background: transparent;
}

.loginForm__textInput {
  background: rgba(57, 63, 84, 0.8);
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 400px;
  margin: 0 auto;
  padding: 1.4rem 2rem 1.6rem;
  border: 0px solid transparent;
  border-radius: 5px;
} 

.loginForm__label {
  background: transparent;
  font-size: 1rem;
  user-select: none;
  position: absolute;
  transform: translateY(4px);
  transform-origin: 0 0;
  transition: all 0.2s;
  pointer-events: none;
  display: block;
}

.loginForm__textInputField {
  background: transparent;
  transform: translateY(10px);
}

.loginForm__textInput input {
  flex-grow: 1;
  font-size: 1.1rem;
  line-height: 1.2rem;
  vertical-align: middle;
} 

.loginForm__textInput:focus-within::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
  transition: all .2s;
}

.loginForm__textInputField::placeholder{
  color: transparent;
  user-select: none;
}

.loginForm__textInputField:focus + .loginForm__label,
.loginForm__textInputField:not(:placeholder-shown) + .loginForm__label{
  transform: translateY(-1em) scale(.8);
  opacity: .7;
}




