.container {
  height: 100vh;
  background: linear-gradient(to bottom right, #1d1e26, #2a2d3f);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_title {
  color: #f0ffff;
  font-weight: bold;
  font-size: 2rem;
}

.form_message {
  margin-top: .25rem;
  color: #f0ffff;
}

.form_input {
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0 0
  }

  100% {
    background-position: 200% 0
  }
}

.form_input:focus-within::after {
  content: "";
  position: absolute;
  animation: 3s linear infinite gradient;
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 200%;
  width: 25rem;
  height: 2px;
  bottom: 0;
  left: 0;
}

.form_username,
.form_password {
  width: 25rem;
  font-size: 1rem;
  color: #f0ffff;
  padding: 1.5rem;
  background-color: #333545;
  outline: none;
  border: none;
}

.form_username {
  margin-top: 1.75rem;
}

.form_password {
  margin-top: .3rem;
}

.form_username::placeholder,
.form_password::placeholder {
  color: #ffffff5f;
}

.form_username::selection,
.form_password::selection {
  background-color: #ffffff5f;
}

.form_login,
.form_register {
  width: 15rem;
  font-size: 1rem;
  color: #f0ffff;
  padding: 1rem;
  background-color: #3e4260;
  outline: none;
  border: none;
}

.form_login:hover,
.form_register:hover {
  filter: brightness(1.25);
  cursor: pointer;
}

.form_login {
  margin-top: 2rem;
  margin-bottom: .3rem;
}