.mainPage {
  position: relative;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows:    10% 90%;
  grid-template-areas: 
    "navigationBar navigationBar"
    "chatList    panelContainerList";
}

.mainPage__navigationBar {
  grid-area: navigationBar;
  height: 100%;
  overflow: none;
  position: relative;
  background: fixed #1d1e26;
}

.mainPage__chatList {
  grid-area: chatList;
  background: fixed #1d1e26;
  height: 94.5vh;
  overflow: auto;
  position: grid;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "friendList"
    "groupList";
}

.mainPage__friendList {
  grid-area: friendList;
  background: fixed #1d1e26;
  position: relative;
}
.mainPage__groupList {
  grid-area: groupList;
  background: fixed #1d1e26;
  position: relative;
}

.mainPage__panelContainerList {
  grid-area: panelContainerList;
  background: transparent;
  position: relative;
  overflow: auto;
}