.mainPage {
  position: relative;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas: 
    "navigationBar navigationBar"
    "chatList    panelContainerList";
}

.mainPage__navigationBar {
  grid-area: navigationBar;
  overflow: none;
  position: relative;
}

.mainPage__chatList {
  grid-area: chatList;
  background: fixed;
  background-color: #1d1e26;
  height: 94.5vh;
  overflow: auto;
  position: grid;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "friendList"
    "groupList";
}

.mainPage__friendList {
  grid-area: friendList;
  background: fixed #1d1e26;
  position: relative;
}

.mainPage__groupList {
  grid-area: groupList;
  background: fixed #1d1e26;
  position: relative;
}

.mainPage__feedList {
  text-align: left;
  margin-top: .5rem;
  margin-left: 1rem;
  color: rgb(174, 179, 185);
  font-size: 1.25rem;
  background: none;
}

.mainPage__feed {
  width: 100%;
  margin-top: .5rem;
  background: none;
}

.mainPage__feed:hover {
  color: rgb(174, 179, 185);
}

.mainPage__panelContainerList {
  grid-area: panelContainerList;
  background: transparent;
  position: relative;
  overflow: auto;
}