.navigationBar {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: fixed;
  background-color: #1d1e26;
}

.navigationBar__nameDisplay {
  margin-left: 1rem;
  background: none;
}

.navigationBar__logoutButton {
  margin-right: 1rem;
  background: none;
}

.navigationBar__logoutButton:hover {
  cursor: pointer;
}