.panelContainerList {
  
  background: fixed transparent;
  display: block;
}

.panelContainerList__list {
  background: transparent;
  padding-left: 0px;
  list-style-type: none;
  overflow: hidden;
  display: inline-flex;
  margin: 0px;
}

.panelContainerList__list li {
  display: inline-block;
  margin: 5px;
}